[Unit]
Description=Local News Video Capture Script
Requires=localnews_hls.service

[Service]
Type=simple
ExecStart=/opt/LocalNewsDVR/scripts/capture

[Install]
WantedBy=multi-user.target

